<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>upload711</display-name>
    <distributable/>
    <servlet>
        <servlet-name>importdata</servlet-name>
        <servlet-class>loaddata.importdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>db.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rawdata</servlet-name>
        <servlet-class>reports.rawdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdGenerator</servlet-name>
        <servlet-class>reports.IdGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSubsections</servlet-name>
        <servlet-class>reports.loadSubsections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCounty</servlet-name>
        <servlet-class>loaddata.loadCounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFacilities</servlet-name>
        <servlet-class>loaddata.loadFacilities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadYear</servlet-name>
        <servlet-class>loaddata.loadYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSubcounty</servlet-name>
        <servlet-class>reports.loadSubcounty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadReportingPeriod</servlet-name>
        <servlet-class>reports.loadReportingPeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSemiAnnual</servlet-name>
        <servlet-class>reports.loadSemiAnnual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadQuarters</servlet-name>
        <servlet-class>reports.loadQuarters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMonth</servlet-name>
        <servlet-class>reports.loadMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSections</servlet-name>
        <servlet-class>reports.loadSections</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>importdata</servlet-name>
        <url-pattern>/importdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rawdata</servlet-name>
        <url-pattern>/rawdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdGenerator</servlet-name>
        <url-pattern>/IdGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCounty</servlet-name>
        <url-pattern>/loadCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFacilities</servlet-name>
        <url-pattern>/loadFacilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadYear</servlet-name>
        <url-pattern>/loadYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSubcounty</servlet-name>
        <url-pattern>/loadSubcounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSubsections</servlet-name>
        <url-pattern>/loadSubsections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadReportingPeriod</servlet-name>
        <url-pattern>/loadReportingPeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSemiAnnual</servlet-name>
        <url-pattern>/loadSemiAnnual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadQuarters</servlet-name>
        <url-pattern>/loadQuarters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMonth</servlet-name>
        <url-pattern>/loadMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSections</servlet-name>
        <url-pattern>/loadSections</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
